.sidebar {
    position: relative;
    width: 30%;
    background-color: var(--color-dark--1);
    padding: 3rem 5rem 3.5rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: margin-left 0.3s ease-in-out;
    z-index: 9999;
}

.footer {
    margin-top: auto;
}

.copyright {
    font-size: 1.2rem;
    color: var(--color-light--1);
}

@media screen and (max-width: 481px) {
    .sidebar {
        position: absolute;
        width: 100%;
        height: 100dvh;
        padding: 3rem 2rem;
    }
    .sidebarHidden {
        margin-left: -100%;
    }
}
